<div class="row">
  <div class="col">
     <h3 class="text-center"><strong>＜掲示板＞お知らせ一覧</strong></h3>

   
   <table class="table table-bordered">
    <tbody>
     <% @posts.each do |post| %>     
     <tr> 
      <td class="bg-light"><%= link_to users_community_post_path(community_id: post.community_id, id: post.id) do %><%= post.title %><% end %></td>
      <td class="bg-light"><%= post.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M:%S') %></td>
     </tr>
      <% end %>
    </tbody>
   </table>
    
    </div>
</div>