<div class="container pt-5">
 
 <div class="row">
  <div class="col-3">
   <h3 class="text-center bg-light"><strong>コミュニティ</strong></h3>
  </div>
 </div>
 
 <table class="table table-hover">
   <thead class="bg-light">
    <tr>
     <th>コミュニティID</th>
     <th>コミュニティ名</th>
    </tr>
   </thead>
   <% @communities.each do |community| %>
   <tbody>
    <tr>
     <td> <%= community.id %></td>
     <td>
    　 <%= link_to users_community_path(community.id) do %>
       <%= community.name %>
      <% end %>
     </td>
    </tr>
   </tbody>
   <% end %>
  </table>
  
 </div>
  </div>