 <div class="row pb-2">
  <div class="col">
   <h3 class="text-center mb-5"><strong>コミュニティ＜一覧＞検索窓設置予定　</strong></h3>


 <table class="table table-hover">
   <thead class="bg-light">
    <tr>
     <th>コミュニティID</th>
     <th>コミュニティ名</th>
    </tr>
   </thead>
   <% @communities.each do |community| %>
   <tbody>
    <tr>
     <td class="bg-light"> <%= community.id %></td>
     <td class="bg-light">
    　 <%= link_to users_community_path(community.id) do %>
       <%= community.name %>
      <% end %>
     </td>
    </tr>
   </tbody>
   <% end %>
  </table>
  
   </div>
 </div>
 
