<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
      <h3 class="text-center bg-light"><strong>コミュニティページ</strong></h3>
    </div>
  </div>

  <div class="row make">
    <div class="col-5">
      <table class="table table-borderless">
        <tr>
          <td><h5><strong>登録情報</strong></h5></td>
        </tr>
      </table>
    </div>
  </div>

<div class="row">
 <div class="col-9">
   <table class="table table-bordered">
    <tbody>
      <tr>
       <th class="bg-light tytle">コミュニティ名</th>
       <td><%= @community.name %></td>
       </tr>
       <tr>
        <th class="bg-light">概要説明</th>
        <td><%= @community.introduction %></td>
       </tr>
      </tbody>
    </table>
   </div> 
 </div>
 
<table>
  <% @community.posts.each do |post| %>
    	<td><%= post.comment %></td>
    	<% if current_admin == post_admin %>
      	<td><%= link_to 'Destroy', community_post_path(post.community_id, post.id), class: 'btn-sm btn-danger', method: :delete %></td>
    	<% end %>
    </tr>
  <% end %>
</table>
 
</div>