<div class="container mt-5">
  <div class="row">
    <h3 class="bg-light mb-5">コミュニティページ</h3>
  </div>
 <div class="row">

  <div class="col-md-6 mt-5 ml-4">
   <div>
    <label>コミュニティ名：</label>
    <%= @community.name %>
   </div>
   <div>
    <label>概要説明：</label>
    <%= @community.introduction %>
   </div>

  </div>
 </div>
</div>