<div class="search-form">
  <%= form_with url: users_search_path, method: :get, local: true do |f| %>
    <%= f.text_field :content, :class => 'form-control', :placeholder => "コミュニティ名" %>
    <%= f.select :method, options_for_select({ "完全一致検索" => "perfect", "部分検索" => "partial" }) %>
    <%= f.submit '検索', class: 'btn btn-info' %>
  <% end %>
</div>