<h1>コミコミ</h1>
<h2>CommunityCommit</h2>

          <li>一般ユーザユーザー</li>
          <li><%= link_to "新規登録", new_user_registration_path, class: 'btn btn-secondary' %></li>
          <li><%= link_to "ログイン", new_user_session_path, class: 'btn btn-secondary' %></li>
          <li>管理者（コミュニティ代表）</li>
          <li><%= link_to "新規登録", new_admin_registration_path, class: 'btn btn-secondary' %></li>
          <li><%= link_to "ログイン", new_admin_session_path, class: 'btn btn-secondary' %></li> 