<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col">

<h2 class="mb-3"><%= @questionary.title %></h2>

<table class="">
  <thead>
    <tr>
      <th>アンケート結果</th>
    </tr>
  </thead>
  
  <tbody class="table table-hover bg-light">
    <% @questionary_results.each do |result| %>
    <tr>
      <td><%= result.result %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<a href = "/questionary_results/calc/<%= @questionary.id %>">CalcData </a>


 </div>
</div>