/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

header {
z-index: 9999;
position: fixed;
width: 100%;
top: 0;
left: 0;
margin-bottom: 20px;
border: 1px solid transparent;
background-color: rgba(120,150,230,0.8);
font-family: "arial black" ;
}

body {
 margin-top: 100px;
 margin-bottom: 0px;
}

.container {
min-height: 55px;
margin-bottom: 20px;
border: 1px solid transparent;
background-color: rgba(200,225,255,0.4);
 padding: 8px 19px;
 border-top: solid 5px #5989cf;
 border-bottom: solid 5px #5989cf;
}

footer{
min-height: 100%;
height: auto !important;
height: 100%;
position: relative;
font-family: "arial black" ;
}
