<div class="row">
  <div class="col-3">
  
   <h3 class="text-center bg-light"><strong>コミュニティ</strong></h3>
  </div>
 </div>
 <table class="table table-hover bg-light">
   <thead>
    <tr>
     <th>コミュニティID</th>
     <th>コミュニティ名</th>
     <th></th>
     <th></th>
    </tr>
   </thead>
   <% @communities.each do |community| %>
   <tbody>
    <tr>
     <td> <%= community.id %></td>
     <td>
    　 <%= link_to admins_community_path(community.id) do %>
       <%= community.name %>
      <% end %>
     </td>
    </tr>
   </tbody>
   <% end %>
  </table>
    <%= link_to "新規コミュニティ作成", new_admins_community_path, class: 'btn btn-success btn-lg btn-block' %>    
 </div>